#primary {
    padding-block: 20px;
    justify-content: space-between;
}

#primary > div:nth-child(3) {
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
}

#secondary {
    padding-block: 14px;
    justify-content: space-between;
}